.App {
  text-align: center;
}
.tillbaka_btn{
  background-color: thistle;
  color: rgb(0, 0, 0);
  border-radius: 5px 0 5px 0;
  border: none;
  height: 4vh;
  margin: 0;
}
.tillbaka_btn:hover{
  background-color: rgb(246, 170, 246);;
  color: black;
  cursor: pointer;
}


.main_menu{
  background-color: thistle;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  padding-top: 1.5rem;
  height: 100vh;
}

.main_menu button{
  margin: 1rem;
  height: 3rem;
  outline: none;
  cursor: pointer;
 font-size: large;
}